<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2Zn9HtARV4AIsLt77C3JQ7sUeDzGpL6GvMBrwaU20V1kx13Qg/6yQ7aNz" crossorigin="anonymous">

    <title>Hello World</title>
</head>
<body>
<h1 class="text-center">Hello World</h1>

<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js" integrity="sha384-+zkLXfXeBiOz3lHjWn6dCfD5JJb32XkEJ2Rv3p0auFgqIjUVOPfzc48JWJ12AJop" crossorigin="anonymous"></script>
</body>
</html>
